 body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.heart {
    height: 200px;
    width: 200px;
    background-color: red;
    position: relative;
    transform: rotate(45deg); 
    animation: heartBeat 1s infinite;
}

.heart::after,
.heart::before {
    content: "";
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}

.heart::after {
    top: -100px;
    right: 0;
}

.heart::before {
    top: 0;
    left: -100px;
}

@keyframes heartBeat {
    0% {
        transform: rotate(45deg) scale(1);

    }

    50% {
        transform: rotate(45deg) scale(1.2);
    
    }

    100% {
        transform: rotate(45deg) scale(1);
    
    }
}
